html *
	margin: 0
	box-sizing: border-box
.hidden
	display: none
body
	overflow: hidden
	position: relative
body::before
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75)
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	pointer-events: none
	content: ""
header
	width: 100vw
	height: 10vh
	div.statusbar
		padding-top: 30px
		text-align: center
		height: 100%
		svg.statusbar-img
			height: 40px
			width: 40px
			position: relative
			display: inline
			top: -10px
			margin: 0 10px
		svg.statusbar-img-main
			height: 55px
			width: 55px
			top: 0
main
	width: 100%
	height: 90vh
	div.display
		height: 40vh
		width: 100%
		text-align: center
		display: table
		h1.question
			display: table-cell
			vertical-align: middle
			font-size: 32px
		img.emoji
			height: 25vh
			position: relative
			bottom: -6vh
		img.next
			position: absolute
			transform: scale(-1, 1) /* Tükrözés */
			right: 10px
			top: 25vh
			width: 100px
			z-index: 99 /* Ha fölé menne egy pipa, akkor is klikkelhető legyen */
	div.answers-container
		height: 50vh
		width: 100%
		background-color: rgba(0, 134, 8, 1)
		color: white
		font-family: Helvetica, sans-serif
		font-size: 0
		div.first-row, div.second-row
			height: 25vh
			width: 100%
			display: table
			border-style: dotted
			border-color: white
			border-width: 0px
			img.response
				position: relative
				width: 20vw
			img.response.x
				top: -20vw
				right: -2vw
				margin-bottom: -20vw
				margin-right: -20vw
			img.response.tick
				top: -22vw
				right: 2vw
				margin-bottom: -20vw
				margin-right: -20vw
		div.first-row
			border-bottom-width: 2px
			div#first-answer
				border-right-width: 2px
		div.second-row
			div#third-answer
				border-right-width: 2px
		div.answer
			display: table-cell
			width: 50%
			vertical-align: middle
			font-size: 20px
			text-align: center
			border-style: dotted
			border-color: white
			border-width: 0px
div.sidebar-on
	position: absolute
	top: 10px
	right: 10px
	width: 56px
	height: 56px
	opacity: 1
	transform: rotateZ(0deg)
	transition-duration: 0.6s
	img.compass
		width: 100%
		height: 100%
div.sidebar-on-hidden
	opacity: 0
	transform: rotateZ(360deg)
	transition-duration: 0.6s
aside.sidebar 
	position: fixed
	top: 0
	right: 0
	width: 50px
	height: 100vh
	z-index: 100
	padding-top: 10px
	overflow-x: hidden
	overflox-y: auto
	background-color: rgba(252, 253, 254, 1)
	box-shadow: -11px 0px 19px -8px rgba(0,0,0,0.74)
	transition-duration: 0.6s
	svg.sidebar-img, img.sidebar-img
		height: 100%
		margin: 0 auto 5px 0
		display: block
	img.sidebar-off
		width: 45px
		height: 35px
		position: relative
		right: -3px
	img.sidebar-off:hover, img.sidebar-on, img.next
		cursor: pointer
aside.sidebar-hidden
	right: -65px !important
	transition-duration: 0.6s
	img.sidebar-off
		transform: translateX(45px)
		transition-duration: 0.25s
.user-green
	fill: green
.user-blue
	fill: blue
.user-red
	fill: red
.user-gold
	fill: gold
.user-black
	fill: black
.user-orange
	fill: orange
.user-violet
	fill: violet
.user-cyan
	fill: cyan