html * {
  margin: 0; }

section.welcome {
  background-image: url("../images/welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 72% 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 50vw inset; }
  section.welcome div.text {
    z-index: 100;
    color: white; }
  section.welcome div.text-label {
    position: absolute;
    top: 10px;
    right: 10px; }
  section.welcome div.text-title h1 {
    text-align: center;
    font-size: 60px; }

section.to-groups {
  background-color: #ECECEA;
  line-height: 400px;
  height: 400px;
  text-align: center; }
  section.to-groups h1 {
    color: #D9853B;
    font-size: 60px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle; }

section.groups .fp-tableCell {
  vertical-align: initial !important; }
section.groups div.half-page {
  display: inline-block;
  width: 50%;
  height: 100%; }
section.groups div#gamification {
  background-color: #558C89; }
section.groups div#printers {
  background-color: #D9853B; }

section.red {
  background-color: red; }
