html * {
  margin: 0; }

body {
  font-size: 100%; }

.fp-tableCell {
  width: 100vw; }

section.welcome {
  background-image: url("../images/welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 72% 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 50vw inset; }
  section.welcome div.text {
    z-index: 100;
    color: #ECECEA; }
  section.welcome div.text-label {
    position: absolute;
    top: 10px;
    right: 10px; }
  section.welcome div.text-title h1 {
    text-align: center;
    font-size: 60px; }

section.to-groups, section.learning {
  background-color: #ECECEA;
  line-height: 400px;
  height: 400px;
  text-align: center; }
  section.to-groups h1, section.learning h1 {
    color: #D9853B;
    font-size: 60px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle; }

section.groups .fp-tableCell {
  vertical-align: initial !important; }
section.groups div.half-page {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100vh; }
  section.groups div.half-page h1 {
    margin-top: 100px;
    text-align: center;
    color: #ECECEA; }
  section.groups div.half-page ul.notes {
    list-style-type: square;
    color: #ECECEA;
    margin: 100px 0 0 30px;
    font-size: 35px; }
    section.groups div.half-page ul.notes li {
      padding-top: 30px; }
  @media screen and (max-width: 768px) {
    section.groups div.half-page {
      width: 100%; } }
section.groups div#gamification {
  background-color: #558C89; }
section.groups div#printers {
  background-color: #D9853B; }

section.three-dimension {
  background-color: #74AFAD; }
  section.three-dimension div.image-container {
    width: 400px;
    display: block;
    position: absolute; }
    section.three-dimension div.image-container img {
      width: 100%;
      border: 2px solid #ECECEA; }
  section.three-dimension div.image-container:nth-of-type(1) {
    right: 220px;
    top: 70px; }
  section.three-dimension div.image-container:nth-of-type(2) {
    width: 760px;
    left: 20px;
    top: 110px; }
  section.three-dimension div.image-container:nth-of-type(3) {
    width: 480px;
    right: 60px;
    bottom: 30px; }
