html *
	margin: 0
body
	font-size: 100%
.fp-tableCell
	width: 100vw
section.welcome
	background-image: url('../images/welcome.jpeg')
	background-repeat: no-repeat
	background-size: cover
	background-position: 72% 100%
	box-shadow: rgba(0,0,0,0.5) 0 0 0 50vw inset
	div.text
		z-index: 100
		color: #ECECEA
	div.text-label
		position: absolute
		top: 10px
		right: 10px
	div.text-title
		h1
			text-align: center
			font-size: 60px
section.to-groups, section.learning
	background-color: #ECECEA
	line-height: 400px
	height: 400px
	text-align: center
	h1
		color: #D9853B
		font-size: 60px
		display: inline-block
		line-height: normal
		vertical-align: middle
section.groups
	.fp-tableCell
		vertical-align: initial!important
	div.half-page
		display: inline-block
		vertical-align: top
		width: 50%
		height: 100vh
		h1
			margin-top: 100px
			text-align: center
			color: #ECECEA
		ul.notes
			list-style-type: square
			color: #ECECEA
			margin: 100px 0 0 30px
			font-size: 35px
			li
				padding-top: 30px
		@media screen and (max-width: 768px)
			width: 100%
	div#gamification
		background-color: #558C89
	div#printers
		background-color: #D9853B
section.three-dimension
	background-color: #74AFAD
	div.image-container
		width: 400px
		display: block
		position: absolute
		img
			width: 100%
			border: 2px solid #ECECEA
	div.image-container:nth-of-type(1)
		right: 220px
		top: 70px
	div.image-container:nth-of-type(2)
		width: 760px
		left: 20px
		top: 110px
	div.image-container:nth-of-type(3)
		width: 480px
		right: 60px
		bottom: 30px