header
	width: 100%
	div.statusbar
		margin-top: 8px
		text-align: center
		div.statusbar-item
			width: 10%
			display: inline
			img.statusbar-image
				height: 35px
				margin: 0 10px
				position: relative
				top: -10px
			img.statusbar-image-main
				height: 50px
				top: 0