html * {
  margin: 0; }

section {
  height: 100vh;
  background-image: url("../images/welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 50vw inset; }
  section div.text {
    float: right;
    color: white;
    margin: 10px 10px 0 0;
    z-index: 100; }
