html *
	margin: 0
	box-sizing: border-box
body 
	height: 100vh
	width: 100vw
header
	height: 8vh
	padding-top: 12px
	h1.title
		text-align: center
		font-size: 34px
main
	height: 92vh
	padding: 10px
	color: black
	div.setting
		width: 80%
		padding: 10px
		height: 30vh
		margin: 0 auto 50px auto
		box-shadow: 0 0 10px 0 black
		div.number
			display: inline-block
	div.ready
		position: absolute
		bottom: 50px
		left: 0
		right: 0
		margin: 0 auto
		width: 200px
		height: 110px
		border-radius: 10px
		font-size: 60px
		text-align: center
		line-height: 110px
		color: white
		background-color: green
